@media (min-width: 768px) and (max-width: 992px) {
.mt-header{
    margin-top: 17%;
}
.h-90{
  height: 150px;
}
.w-h-avtar{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.font-ws{
    font-size: 7px;
}
.w-product-h{
    width: 120px !important;
    height: 120px;
}
   .w-prod{
          width: 100%;
          height: 80px;
        }
           .w-h-store{
          width: 60px;
          height: 40px;
        }
}