.box-size {
  box-sizing: border-box;
}
#regFormlogin {
  margin: 50px auto;
  font-family: Raleway;
}

h1 {
  text-align: center;  
}

input {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.bg-white{
  background-color: #ffffff;
}
.set-m-w{
width: 70%;  margin: 50px auto;
}
.dot-button{
  text-align:center;margin-top: 15px;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}

.float-l{
  float: left;
}
.float-r{
  float: right;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-image {
  float: left;
  width: 50%;
}
.column-form {
  float: left;
  width: 50%;
  /* padding: 25px; */
}
.height-form{
  height: 400px;
}
.height-form-reg{
  height: 400px;
}
.form-control{
  width: 96%;
}
.padding-tb{
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin-tb{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* new css step 1 2 3 */

    #main {
        width: 55%;
        margin: 50px auto;
        -moz-border-radius: 10px;
    }

    #header {
        text-align: center;
        border-bottom: solid 1px #b2b3b5;
        margin: 0 0 20px 0;
    }

    fieldset {
        border: none;
    }

    legend {
        font-size: 18px;
        margin: 0px;
        padding: 10px 0px;
        color: #b0232a;
        font-weight: bold;
    }

    label {
        display: block;
        margin: 15px 0 5px;
    }
    .prev,
    .next {
        text-decoration: none; 
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

    .prev:hover {
        background-color: #000;
        text-decoration: none;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    #steps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    #steps li {
        font-size: 24px;
        float: left;
        padding: 10px;
        color: #b0b1b3;
    }

    #steps li span {
        font-size: 11px;
        display: block;
    }

    #steps li.current {
        color: #000;
    }

    #makeWizard {
        background-color: #b0232a;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 18px;
    }

    #makeWizard:hover {
        background-color: #000;
    }

@media (min-width: 0) and (max-width: 576px) {
  .hide{
    display: none;
  }
   .column-form{
    width: 100% !important;
  }
   #steps li{
    font-size: 31px!important;
  }
   #main{
    width: 90%;
  }
  .bg-off-white{
    background-color: white;
  }
  .text-center{
    text-align: center;
  }
    .border-b{
    border: none;
    border-bottom: 1px solid #ccc;;
  }
  .border-r{
    border-radius: 25px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
   .hide{
    display: none;
  }
   .column-form{
    width: 100% !important;
  }
   #steps li{
    font-size: 30px!important;
  }
   #main{
    width: 50%;
  }
  .bg-off-white{
    background-color: white;
  }
  .text-center{
    text-align: center;
  }
  .border-b{
    border: none;
    border-bottom: 1px solid #ccc;;
  }
    .border-r{
    border-radius: 25px !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
 
  #main{
    width: 80%;
  } 
  .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hide-b{
    display: none;
  }
    #steps li{
    padding-left: 10px !important;
  }
  .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1 !important;
  }
}
@media (min-width: 1200px) {
  .hide-b{
    display: none;
  }
  #steps li{
    padding-left: 35px !important;
  }
   .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1;
  }
}