.box-size {
  box-sizing: border-box;
}
#regFormlogin {
  margin: 50px auto;
  font-family: Raleway;
   width: 55%;
}

h1 {
  text-align: center;  
}

input {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.bg-white{
  background-color: #ffffff;
}
.set-m-w{
width: 70%;  margin: 50px auto;
}
.dot-button{
  text-align:center;margin-top: 15px;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}

.float-l{
  float: left;
}
.float-r{
  float: right;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-image {
  float: left;
  width: 50%;
}
.column-form {
  float: left;
  width: 50%;
  /* padding: 25px; */
}
.height-form{
  height: 400px;
}
.height-form-reg{
  height: 400px;
}
.form-control{
  width: 96%;
}
.padding-tb{
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin-tb{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* new css step 1 2 3 */

    #main {
        width: 55%;
        margin: 50px auto;
        -moz-border-radius: 10px;
    }

    #header {
        text-align: center;
        border-bottom: solid 1px #b2b3b5;
        margin: 0 0 20px 0;
    }

    fieldset {
        border: none;
    }

    legend {
        font-size: 18px;
        margin: 0px;
        padding: 10px 0px;
        color: #b0232a;
        font-weight: bold;
    }

    label {
        display: block;
        margin: 15px 0 5px;
    }
    .prev,
    .next {
        text-decoration: none; 
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

    .prev:hover {
        background-color: #000;
        text-decoration: none;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    #steps {
        list-style: none;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    #steps li {
        font-size: 24px;
        float: left;
        padding: 10px;
        color: #b0b1b3;
    }

    #steps li span {
        font-size: 11px;
        display: block;
    }

    #steps li.current {
        color: #000;
    }

    #makeWizard {
        background-color: #b0232a;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 18px;
    }

    #makeWizard:hover {
        background-color: #000;
    }

@media (min-width: 0) and (max-width: 576px) {
  .hide{
    display: none;
  }
   .column-form{
    width: 100% !important;
  }
   #steps li{
    font-size: 31px!important;
  }
   #main{
    width: 90%;
  }
  .bg-off-white{
    background-color: white;
  }
  .text-center{
    text-align: center;
  }
    .border-b{
    border: none;
    border-bottom: 1px solid #ccc;;
  }
  .border-r{
    border-radius: 25px !important;
  }
  #regFormlogin { 
   width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
   .hide{
    display: none;
  }
   .column-form{
    width: 100% !important;
  }
   #steps li{
    font-size: 30px!important;
  }
   #main{
    width: 50%;
  }
  .bg-off-white{
    background-color: white;
  }
  .text-center{
    text-align: center;
  }
  .border-b{
    border: none;
    border-bottom: 1px solid #ccc;;
  }
    .border-r{
    border-radius: 25px !important;
  }
   #regFormlogin { 
   width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
 
  #main{
    width: 80%;
  } 
  .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1 !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hide-b{
    display: none;
  }
    #steps li{
    padding-left: 10px !important;
  }
  .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1 !important;
  }
}
@media (min-width: 1200px) {
  .hide-b{
    display: none;
  }
  #steps li{
    padding-left: 35px !important;
  }
   .bg-off-white{
    background-color: #f1f1f1;
  }
  .body{
    background-color: #f1f1f1;
  }
}

/* nav */
 @media all and (max-width:992px) {

        .offcanvas-header {
            display: block;
        }

        .mobile-offcanvas {
            visibility: hidden;
            transform: translateX(-100%);
            border-radius: 0;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1200;
            width: 80%;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        }

        .mobile-offcanvas.show {
            visibility: visible;
            transform: translateX(0);
        }
    }

    body.offcanvas-active {
        overflow: hidden;
    }

    .offcanvas-header {
        display: none;
    }

    .screen-overlay {
        width: 0%;
        height: 100%;
        z-index: 30;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(34, 34, 34, 0.6);
        transition: opacity .2s linear, visibility .1s, width 1s ease-in;
    }

    .screen-overlay.show {
        transition: opacity .5s ease, width 0s;
        opacity: 1;
        width: 100%;
        visibility: visible;
    }


    /* search bar */
    .openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;

}

.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #000;
}

/* .overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 70%;
 background-color:#eee;
} */

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 15%;
  padding: 15px;
  /* background-color:#eee; */
  color: #fff;
    background-color: #6c757d;
  font-size: 17px;
  border: none;
  cursor: pointer;
  /* color: #000; */
}

.overlay button:hover {
  background: #bbb;
}


/* slider */


@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    transform: none !important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
body {
  background: #333;
  color: #ddd;
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px #000000;
}
.owl-carousel {
-ms-touch-action: pan-y;
touch-action: pan-y;
}
or
.owl-carousel {
-ms-touch-action: none;
touch-action: none;
}
/* color */
.bg-grew{
  background-color: #eee !important;
}
.bg-ll-blue{
  
  background-color: #a2ffe2;
}
.bg-ll-green{
  
  background-color: #bafebc;
}
.bg-l-blue{
  background-color: #eff7fa;
}
.text-l-blue{
  color: #25a3b5;
}
.bg-side{
  background-color: #24a3b5;
}
.bg-orage{
 background-image: -webkit-linear-gradient(
0deg
,#ff934b 0%,#ff5e62 100%);
}
/* clor end */

.h-150{
  height: 150px;
}
.bg-pro-color{
  background-color: whitesmoke;
}
.avatar{
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.h-w-box{
  /* width: 120px; */
  height: 120px;
}
.bor-all{
  border-radius: 5px;
}
.bor-r{
      border-radius: 0px 10px 10px 0px !important;
}
.bor-l{
      border-radius: 10px 0px 0px 10px !important;
      background-color: #eee !important;
}
.inp-fous{
  box-shadow: none !important;
}
.border-rr{
  border-radius: 0px 7px 7px 0px;
}
.border-rl{
  border-radius: 7px 0px 0px 7px;
}
.inpu-h{
  height: calc(1.5em + .75rem + 2px) !important;
}
.w-icon{
  width: 24px;
}
.p-01{
  padding: 1px !important;
}
.p-02{
  padding: 2px !important;
}
.h-product{
  height: 160px;
  /* border-radius: 10px; */
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
#main-owl-demo.owl-theme .owl-controls{
text-align: center;
margin-top: -28px;
background-color: white;
}
#home-owl-demo.owl-theme .owl-controls{
text-align: center;
margin-top: -28px;
background-color: white;
}
#owl-demo.owl-theme .owl-controls{
display: none !important;
}
#product-owl-demo.owl-theme .owl-controls{
display: none !important;
}
#prod-owl-demo.owl-theme .owl-controls{
display: none !important;
}
#prods-owl-demo.owl-theme .owl-controls{
display: none !important;
}
#pros-owl-demo.owl-theme .owl-controls{
display: none !important;
}
#main-owl-demo.owl-theme .owl-controls .owl-page span {
  
    background: none repeat scroll 0 0 white;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.9;
    width: 12px;
}
#home-owl-demo.owl-theme .owl-controls .owl-page span {
  
    background: none repeat scroll 0 0 white;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.9;
    width: 12px;
}
.box-shadow{
      box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
}

 @media all and (max-width:992px) {

        .offcanvas-header {
            display: block;
        }

        .mobile-offcanvas {
            visibility: hidden;
            transform: translateX(-100%);
            border-radius: 0;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 1200;
            width: 80%;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: visibility .2s ease-in-out, transform .2s ease-in-out;
        }

        .mobile-offcanvas.show {
            visibility: visible;
            transform: translateX(0);
        }
    }
/* search */
.border-three{
  /* border-left: 0px solid #ccc; */
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.border-three-button{
      border-top: 1px solid #ccc;
    /* border-right: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
/* search */

/* home screen destop */
/* .logo-header{
  width: 300px;
  height: 50px;
} */
.set-l{
  line-height: 2.5;
}
.search-bro{
  border-radius: 0px !important;
  border: 2px solid red !important;
}
.w-arrow{
  width: 15px;
  height: 15px;
}
.content{
  content: none;
}

/* categories */
.icon-cat{
  width: 20px;
  height: 20px;
}
.font-w{
  font-size: 14px;

}
.border-request{
      border: 1px solid red;
      border-radius: 5px;
}
.geeks { 
            /* width: 180px; 
            height: 180px;  */
            overflow: hidden; 
            /* margin: 0 auto;  */
        } 
      
        .geeks img { 
            width: 100%; 
            transition: 0.5s all ease-in-out; 
        } 
      
        .geeks:hover img { 
            transform: scale(1.2); 
        } 
        .boder-two{
          border: 1px solid #e6ecf2;
    border-left: 0;
    border-top: 0;
        }
.containerss {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
}
.text-up-line{
  text-decoration-line: line-through;
}
/* home screen destop */

/* footer tab */
.actives, .btn:hover {
  background-color: #24a3b5;
  /* background-image: url('../image/appstore.png'); */
  color: white !important;
}
.text-blac{
  color: black;
}
/* footer tab */

/* tab category */
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  /* background-color: #ffffff; */
  /* border: 1px solid #eeeeee; */
  /* padding-left: 20px; */
  /* padding-top: 10px; */
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.w-h-cat{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.f-w{
  font-size: 14px;
  margin: 0px;
}
.set-bro-pos{
  left: 0;
    z-index: 1;
    width: 30%;
    position: fixed;
    height: 100%;
    background-color: white;
    /* border: 1px solid rgba(0,0,0,.125); */
}
.set-w-h-cat{
  width: 50px;
  height: 50px;
}

@media (min-width: 0) and (max-width: 400px) {
.w-h-cat{
  width: 35px;
  height: 35px;
}
.f-w{
  font-size: 10px;
  margin: 0px;
}
}
/* tab category */